body {
    background: #222;
  }
  
  #root {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .toggleContainer {
    width: 60px;
    height: 35px;
    border-radius: 30px;
    outline: none;
    border: none;
    background: #ddd;
    padding: 0 3px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }
  
  .toggleKnob {
    width: 30px;
    height: 30px;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    line-height: 35px;
    transition: all 0.1s ease-in;
  }
  
  .toggleKnob.isActive {
    transform: translateX(24px);
  }
  
  .toggleContainer.isActive {
    background: skyblue;
  }